$clr-primary-400: #126d94;
$clr-primary-500: #0d516e;
$clr-primary-600: #073649;

$clr-neutral-100: #fcfcfd;
$clr-neutral-150: #f3f4f7;
$clr-neutral-200: #e7e9ee;
$clr-neutral-300: #dce0ec;
$clr-neutral-400: #808093;
$clr-neutral-500: #595969;
$clr-neutral-600: #404354;
$clr-neutral-700: #0d1026;
