$space-300: 0.25rem; // 4px
$space-350: 0.5rem; // 8px
$space-375: 0.75rem; // 12px
$space-400: 1rem; // 16px
$space-450: 1.5rem; // 24px
$space-500: 2rem; // 32px
$space-600: 3rem; // 48px
$space-700: 4rem; // 64px
$space-900: 6rem; // 96px
$space-1000: 8rem; // 128px
